<h3>Digital Art Portfolio</h3>



<div class="simple-article-header">


  <!-- Article Author Name & Comment Hyperlink -->
 

  <!-- Article Social Links -->
  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Article Video -->
  

  <!-- Article Post Content -->
  
</div>

  <app-portfolio-lightbox portfolioURL = '/assets/digital.json'></app-portfolio-lightbox>